.label-difficulty {
    padding: .2em .6em .3em;
    font-weight: normal;
    font-size: 90%;
}
.label-difficulty-low {
    background-color: #258E44;
    border: 1px solid #73D08F;
}
.label-difficulty-moderate {
    background-color: #312691;
    border: 1px solid #6E63CC;
}
.label-difficulty-high {
    background-color: #E56D01;
    border: 1px solid #FE9536;
}
.label-difficulty-left {
    border-right: 0;
    color: #ffffff;
    border-radius: 4px 0 0 4px;
}
.label-difficulty-right {
    border-left: 0;
    background: none;
    border-radius: 0 4px 4px 0;
}
