name: CI Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        wget https://github.com/jgm/pandoc/releases/download/2.9/pandoc-2.9-1-amd64.deb
        sudo dpkg -i pandoc-2.9-1-amd64.deb
        python -m pip install --upgrade pip
        pip install pandoc
    - name: Export documents
      run: |
        python3 export.py --format csv > OWASP_SCVS-SNAPSHOT.csv
        python3 export.py --format json > OWASP_SCVS-SNAPSHOT.json
        python3 export.py --format xml > OWASP_SCVS-SNAPSHOT.xml
    - name: Generate document
      run: |
        chmod +x generate-document.sh
        ./generate-document.sh
    - name: Archive CSV export
      uses: actions/upload-artifact@v1
      with:
        name: OWASP_SCVS-SNAPSHOT.csv
        path: OWASP_SCVS-SNAPSHOT.csv
    - name: Archive JSON export
      uses: actions/upload-artifact@v1
      with:
        name: OWASP_SCVS-SNAPSHOT.json
        path: OWASP_SCVS-SNAPSHOT.json
    - name: Archive XML export
      uses: actions/upload-artifact@v1
      with:
        name: OWASP_SCVS-SNAPSHOT.xml
        path: OWASP_SCVS-SNAPSHOT.xml
